a {
	color: black;
	font-weight: bold;
}

.transparentBG {
  background-color: rgba(0,0,0,0);
}

.item-nav {
	border-bottom-color: #fff;
	margin: 22px 20px;
}

nav {
	background-color: rgba(0,0,0,0);
	border-bottom: none;
}